.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/Images/gif1.gif");
  background-size: cover;
  background-position: center;
  height: 89vh;
}

.main h1 {
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  margin-top: 50px;
  
}

